/* 게시물 컨테이너 */
.post-div {
	width: 90%; /* 또는 다른 값으로 조절 */
}

.post {
	flex-direction: column;
	margin: 0px auto;
	width: 600px;
	border: 1px solid #8E7C68;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
	background-color: white;
}

.listheader {
	align-items: center;
	text-align: center;
}

/* 이미지 컨테이너 */
.post-image-container {
	text-align: center;
	align-items: center;
}

/* 이미지 */
.post-image {
	flex-direction: column;
	margin: 0px auto;
	width: 600px;
	height: 600px;
	object-fit: cover;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 게시물 정보 */
.post-info {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: baseline; /* 이름, 내용, 작성일 세로 정렬 */
}

/* 작성자 이름 */
.post-writer {
	text-align: left;
	font-weight: bold;
	margin-bottom: 15px;
	margin-left: 30px;
	margin : 15px 0;
	font-size: 30px;
	/* 	background-color: #8E7C68;
	color : white; */
	border-radius: 3px;
}

/* 게시물 내용 
.post-subject {
	text-align: left;
	font-size: 16px;

	font-size: 20px;
}*/

/* 게시물 내용 */
.post-content {
	text-align: left;
	margin-top: 10px;
	line-height: 1.5px;
	margin-bottom: 5px;
	margin-left: 30px;
	font-size: 20px;
}

.post-icons img {
	width: 40px;
	height: 40px;
	margin: 5px 0 30px 5px;
}

#bookmark {
	text-align: right;
	align-items: right;
}

/* 게시물 작성일 및 조회수 */
.post-details {
	display: flex;
	font-size: 12px;
	color: #888;
	font-size: 12px
}