@charset "UTF-8";



.h2 { 
	margin-top: 50px;
	text-align: center;
	color : #8E7C68;
	font-size: 130px;
	margin-left : 60px;
	margin-bottom: 150px;
}
.h3 { 
	margin-top: 50px;
	text-align: center;
	color : #8E7C68;
	font-size: 70px;
	margin-left : 60px;
	margin-bottom: 150px;
}

.form_table {
	width: 800px;
	height: 595px;
	border-collapse: collapse;
	align-items: center;
	margin: 0 auto;
	/* background-color: pink; */
}

th {
	text-align: center;
	padding: 25px;
	font-size: 20px;
	color : #8E7C68;
}

td {
	align-items: left;
}

textarea {
	width: 600px;
}

#wname, #content { /* 이름 */
	font-size: 30px;
	color : #8E7C68 ;
}

#wname {
	width: 600px;
}

/* textarea의 placeholder 스타일 */
#content::placeholder {
    font-size: 20px; /* 원하는 크기로 조절 */
    color: #999; /* 원하는 색상으로 조절 */
    text-align: center;
    line-height: 10;
}


.button-container {
	text-align: center; /* 부모 요소를 가운데 정렬 */
}

#submit_button, #reset_button {
	width: 100px;
	padding: 7px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	display: inline-block; /* 인라인 블록 요소로 배치 */
	margin: 10px; 
}

#submit_button {
	background-color: #ED7458;
}

#reset_button {
	background-color:#ED7458;
}

#list_button {
	width: 100px;
	padding: 7px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color:#8E7C68; 
	outline: none;
	margin : 30px 80px 0 0;
}