@charset "UTF-8";

.main{
	margin:0;
	padding:0;
	width:1308px;
	margin:0 auto;
}

.mainStyle{
	width:100%;
	background-color: #F2F2F2;
	
	/* 가운데정렬 */
	display: flex;
	justify-content: center;
	align-items: center;
}

article{
	margin:5px;
	padding:5px; 
	width:100%;
}

.join{
	margin: 0 auto;
	text-align: center;
	width: 700px;
	background-color: white;
	padding-top:15px;
}

.joinName{
	margin-left:25px;
	float : right;
}

.mname .mpw2 .memail .mphone .postCode .selectAddr .detailAddr .joinComplete .joinBack {
	width: 100%;
}

/* 주문내역,댓글내역 */
.orderform{
	margin:0px 63px;
}

/* 전체 폼 */
.mypage{
	width:100%;
	background-color: #F2F2F2;
}
