@charset "UTF-8";

.main{
	margin:0;
	padding:0;
}

.mainStyle{
	width:100%;
	height:100vh;
	background-color: grey;
}

article{
	margin:5px;
	padding:5px; 
	width:100%;
}

.join{
	margin: 0 auto;
	text-align: center;
	width: 700px;
	height:500px;
	background-color: white;
	padding-top:15px;
}